.validated-form-field {
 .validated-form-field__label {
   height: 16px;
 }

  .validated-form-field__error-message {
    height: 16px;
    color: #f44336;
    visibility: hidden;

    &_visible {
      visibility: visible;
    }
  }
}
