@import '~antd/lib/button/style/index.less';

.sign-up-form__wrapper {
  padding: 16px;

  .half-size {
    box-sizing: border-box;
    flex-grow: 0;
    flex-shrink: 0;
    flex-basis: 50%;
    max-width: 50%;
  }

  .sign-up-form__footer {
    display: flex;
    justify-content: center;

    .ant-btn {
      width: 200px;
    }
  }
}
